body{
background-image:url(../img/12.jpg); 
background-size:cover;
}
.all{
width:100%;
}
.left{
width:45%; 
float:left;
}
.gg{
margin:auto; 
margin-top:170px; 
margin-right:130px; 
width:455px; 
height:380px; 
background:url(../img/gg.png)
}
.zxgg{
margin-left:65px; 
height:20px; 
font-size:18px; 
line-height:20px; 
color:#ff6600;
}
.ggnr{
margin-top:15px; 
margin-left:65px; 
font-size:14px; 
width:310px; 
line-height:18px;
}
.right{
width:55%; 
overflow:hidden;
}
.dl{
margin:auto; 
margin-top:170px;
margin-left:40px; 
width:570px; 
height:380px; 
background:url(../img/dl.png)
}
.yhm{
margin-left:215px; 
height:30px; 
color:#c04103; 
font-size:14px;
}
.mm{
margin-left:215px; 
margin-top:20px; 
height:30px; 
color:#c04103; 
font-size:14px;
}